<mat-card class="add-role">
    <mat-card-header>
        <mat-card-title>Add New Role</mat-card-title>
        <mat-card-title>{{msg}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form [formGroup]="roleForm">
                <mat-form-field appearance="outline">
                    <mat-label>
                       Role Name
                    </mat-label>
                    <input matInput id="name" formControlName="Name">
                    <mat-error *ngIf="roleForm.get('Name')?.hasError('required')">Role Name is Required</mat-error>
                </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addRole()">Save</button> &nbsp;
        <button type="submit" mat-raised-button routerLink="/manage-role">Cancel</button>                  

    </mat-card-actions>
</mat-card>
