<mat-card class="add-role">
    <mat-card-header>
    </mat-card-header>
  
    <mat-card-content class="form-container">
      <mat-card-title >Assign Role</mat-card-title>

      <form [formGroup]="assignForm">
        <mat-form-field appearance="outline" >
          <mat-label>Email</mat-label>
          <input readonly formControlName="email" matInput id="email">
        </mat-form-field>
  
        <br>
  
        <mat-form-field appearance="outline" >
          <mat-label>Name</mat-label>
          <input readonly matInput formControlName="name" id="name">
        </mat-form-field>
  
        <br>
  
        <mat-form-field appearance="outline">
          <mat-label>Select Role</mat-label>
          <mat-select formControlName="role" id="role">
            <mat-option *ngFor="let role of rolesList" [value]="role.name">
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        

  
        <br>
  
        <button type="submit" mat-raised-button (click)="assignRole()" color="primary">Save</button>
        &nbsp;
        <button type="submit" mat-raised-button routerLink="/assign-role">Cancel</button>
  
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <!-- Optional: Add actions if needed -->
    </mat-card-actions>
  </mat-card>
  