/* Add this to your CSS */
.login-card {
  width: 400px; /* Adjust as needed */
  margin: 25px auto; /* Center the card and add margin top and bottom */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

mat-card-content {
  padding: 16px; /* Adjust as needed */
}

.login-btn {
  width: 50%;
  margin-top: 16px;
}

.login-link {
  text-align: center;
  margin-top: 16px;
}

.login-link span {
  margin-right: 8px;
}

.full-width {
  width: 100%;
}
