.toaster {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    z-index: 1000;
  }
  
  .info {
    background-color: #2196F3; /* Blue */
  }
  
  .error {
    background-color: #F44336; /* Red */
  }
  
  warning {
    background-color: #FFC107; /* Yellow */
  }
  